body {
    margin: 0px;
    padding: 0px;
}
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option {
    position: relative;
    width: 25%;
    height: 25%;
    background-color: rgb(136, 136, 255);
    border-radius: 10px;
    margin: 2.5%;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s;
}
.option:hover {
    width: 30%;
    height: 30%;
    margin: 0px;
    background-color: rgb(133, 107, 220);
}